@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* width */
::-webkit-scrollbar { 
  width: 10px;
  height: 10px;
} 

/* Track */
::-webkit-scrollbar-track { 
  --tw-bg-opacity: 1;
  background: rgba(0, 0, 0, 0.2);; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
  background: rgb(153, 153, 153); 
  border-radius: 40px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
  background: #adadad; 
}



input::-webkit-color-swatch {
  border: none;
  outline: none;
}

.EmojiPickerReact {
  --epr-highlight-color: #007aeb;
    --epr-hover-bg-color: #f1f8ff;
    --epr-hover-bg-color-reduced-opacity: #f1f8ff80;
    --epr-focus-bg-color: #2121216b;
    --epr-text-color: #ffffff;
    --epr-search-input-bg-color: #f6f6f6;
    --epr-picker-border-color: #c3c3c3;
    --epr-bg-color: #9f9f9f63;
    --epr-reactions-bg-color: #ffffff90;
    --epr-category-icon-active-color: #44505b;
    --epr-skin-tone-picker-menu-color: #ffffff95;
    --epr-horizontal-padding: 10px;
    --epr-picker-border-radius: 20px;
    --epr-search-border-color: var(--epr-highlight-color);
    --epr-header-padding: 15px var(--epr-horizontal-padding);
    --epr-active-skin-tone-indicator-border-color: var(--epr-highlight-color);
    --epr-active-skin-hover-color: var(--epr-hover-bg-color);
    --epr-search-input-bg-color-active: var(--epr-search-input-bg-color);
    --epr-search-input-padding: 0 30px;
    --epr-search-input-border-radius: 8px;
    --epr-search-input-height: 40px;
    --epr-search-input-text-color: var(--epr-text-color);
    --epr-search-input-placeholder-color: var(--epr-text-color);
    --epr-search-bar-inner-padding: var(--epr-horizontal-padding);
    --epr-category-navigation-button-size: 30px;
    --epr-emoji-variation-picker-height: 45px;
    --epr-emoji-variation-picker-bg-color: var(--epr-bg-color);
    --epr-preview-height: 70px;
    --epr-preview-text-size: 14px;
    --epr-preview-text-padding: 0 var(--epr-horizontal-padding);
    --epr-preview-border-color: var(--epr-picker-border-color);
    --epr-preview-text-color: var(--epr-text-color);
    --epr-category-padding: 0 var(--epr-horizontal-padding);
    --epr-category-label-bg-color: #ffffffe6;
    --epr-category-label-text-color: var(--epr-text-color);
    --epr-category-label-padding: 0 var(--epr-horizontal-padding);
    --epr-category-label-height: 40px;
    --epr-emoji-size: 30px;
    --epr-emoji-padding: 5px;
    --epr-emoji-fullsize: calc(var(--epr-emoji-size) + var(--epr-emoji-padding)* 2);
    --epr-emoji-hover-color: var(--epr-hover-bg-color);
    --epr-emoji-variation-indicator-color: var(--epr-picker-border-color);
    --epr-emoji-variation-indicator-color-hover: var(--epr-text-color);
    --epr-header-overlay-z-index: 3;
    --epr-emoji-variations-indictator-z-index: 1;
    --epr-category-label-z-index: 2;
    --epr-skin-variation-picker-z-index: 5;
    --epr-preview-z-index: 6;
    --epr-dark: #000;
    --epr-dark-emoji-variation-picker-bg-color: var(--epr-dark);
}